target/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
workspace.xml
tasks.xml

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
flink/flink-java-project/.idea/modules.xml
flink/flink-java-project/src/main/main.iml
flink/flink-java-project/.idea/misc.xml
flink/hello-world/.idea/misc.xml
flink/hello-world/.idea/modules.xml
flink/hello-world/src/main/main.iml
flink/flink-java-project/src/test/test.iml
flink/hello-world/src/test/test.iml
python/.idea/misc.xml
flink/flink-python-job/flink-python-job.iml
flink/flink-python-job/.idea/compiler.xml
flink/flink-python-job/.idea/encodings.xml
flink/flink-python-job/.idea/kotlinc.xml
flink/flink-python-job/.idea/misc.xml
flink/flink-python-job/.idea/modules.xml
flink/flink-python-job/.idea/libraries/Maven__xmlenc_xmlenc_0_52.xml
flink/flink-python-job/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_0_5.xml
flink/flink-python-job/.idea/libraries/Maven__org_uncommons_maths_uncommons_maths_1_2_2a.xml
flink/flink-python-job/.idea/libraries/Maven__org_tukaani_xz_1_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_7.xml
flink/flink-python-job/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml
flink/flink-python-job/.idea/libraries/Maven__org_scala_lang_scala_library_2_10_4.xml
flink/flink-python-job/.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
flink/flink-python-job/.idea/libraries/Maven__org_mortbay_jetty_jetty_util_6_1_26.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_3_2.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_commons_commons_compress_1_4_1.xml
flink/flink-python-job/.idea/libraries/Maven__commons_configuration_commons_configuration_1_7.xml
flink/flink-python-job/.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
flink/flink-python-job/.idea/libraries/Maven__commons_codec_commons_codec_1_4.xml
flink/flink-python-job/.idea/libraries/Maven__commons_cli_commons_cli_1_3_1.xml
flink/flink-python-job/.idea/libraries/Maven__commons_beanutils_commons_beanutils_bean_collections_1_8_3.xml
flink/flink-python-job/.idea/libraries/Maven__com_typesafe_config_1_2_1.xml
flink/flink-python-job/.idea/libraries/Maven__com_twitter_chill_java_0_7_4.xml
flink/flink-python-job/.idea/libraries/Maven__com_twitter_chill_2_10_0_7_4.xml
flink/flink-python-job/.idea/libraries/Maven__com_thoughtworks_paranamer_paranamer_2_3.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_shaded_hadoop2_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_runtime_2_10_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_optimizer_2_10_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_metrics_core_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_java_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_core_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_clients_2_10_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_annotations_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_commons_commons_math3_3_5.xml
flink/flink-python-job/.idea/libraries/Maven__com_sun_jersey_jersey_core_1_9.xml
flink/flink-python-job/.idea/libraries/Maven__com_jcraft_jsch_0_1_42.xml
flink/flink-python-job/.idea/libraries/Maven__com_jamesmurty_utils_java_xmlbuilder_0_4.xml
flink/flink-python-job/.idea/libraries/Maven__com_google_protobuf_protobuf_java_2_5_0.xml
flink/flink-python-job/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
flink/flink-python-job/.idea/libraries/Maven__com_github_scopt_scopt_2_10_3_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_7_4.xml
flink/flink-python-job/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_7_4.xml
flink/flink-python-job/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_7_0.xml
flink/flink-python-job/.idea/libraries/Maven__com_esotericsoftware_minlog_minlog_1_2.xml
flink/flink-python-job/.idea/libraries/Maven__com_esotericsoftware_kryo_kryo_2_24_0.xml
flink/flink-python-job/.idea/libraries/Maven__com_data_artisans_flakka_slf4j_2_10_2_3_custom.xml
flink/flink-python-job/.idea/libraries/Maven__com_data_artisans_flakka_remote_2_10_2_3_custom.xml
flink/flink-python-job/.idea/libraries/Maven__com_data_artisans_flakka_actor_2_10_2_3_custom.xml
flink/flink-python-job/.idea/libraries/Maven__org_javassist_javassist_3_18_2_GA.xml
flink/flink-python-job/.idea/libraries/Maven__io_netty_netty_all_4_0_27_Final.xml
flink/flink-python-job/.idea/libraries/Maven__io_netty_netty_3_7_0_Final.xml
flink/flink-python-job/.idea/libraries/Maven__commons_net_commons_net_3_1.xml
flink/flink-python-job/.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
flink/flink-python-job/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
flink/flink-python-job/.idea/libraries/Maven__commons_io_commons_io_2_4.xml
flink/flink-python-job/.idea/libraries/Maven__commons_el_commons_el_1_0.xml
flink/flink-python-job/.idea/libraries/Maven__commons_digester_commons_digester_1_8_1.xml
flink/flink-python-job/.idea/libraries/Maven__commons_daemon_commons_daemon_1_0_13.xml
flink/flink-python-job/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
flink/flink-python-job/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_8_8.xml
flink/flink-python-job/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_8_8.xml
flink/flink-python-job/.idea/libraries/Maven__org_clapper_grizzled_slf4j_2_10_1_0_2.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_zookeeper_zookeeper_3_4_6.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_sling_org_apache_sling_commons_json_2_0_6.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_force_shading_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_flink_flink_streaming_java_2_10_1_2_0.xml
flink/flink-python-job/.idea/libraries/Maven__org_apache_avro_avro_1_7_7.xml
flink/flink-python-job/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
flink/flink-python-job/.idea/libraries/Maven__junit_junit_4_11.xml
flink/flink-python-job/.idea/libraries/Maven__javax_xml_stream_stax_api_1_0_2.xml
flink/flink-python-job/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_2_2.xml
flink/flink-python-job/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
flink/flink-python-job/.idea/libraries/Maven__javax_activation_activation_1_1.xml
